#description {
  font-style: italic;
  text-align: center;
}
#title {
  font-weight: bold;
  text-align: center;
}
.label {
  font-size: 18px;
  font-weight: 550;
}
.container-sm {
  background-color: coral;
  border-radius: 5px;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

body {
  line-height: 1.5;
  background-color: #a3b2c3;
  color: #202a35;
  padding: 0 2rem;
}
#submit {
  font: inherit;
  font-size: 1.25rem;
  padding: 0.6em;
  width: 100%;
  font-weight: 500;
  background-color: #202a35;
  border-radius: 6px;
  color: #fff;
  border: 0;
  transition: background-color 0.2s;
}
#submit:hover {
  background-color: #555;
}
.form-control {
  height: 48px;
}
.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  padding: 0.75rem;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.card-form {
  padding: 2rem 1rem 0;
}

footer {
  padding-top: 1rem;
  border-top: 2px solid #202a35;
  font-style: italic;
  text-align: center;
}
