* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /*   COLORS */
  --color-grey-light: #cce8e6;
  --color-grey-medium: #a8bdc5;
  --color-grey-dark: #535353;
  --color-white: azure;
  --color-navy: #0e3744;
  --color-navy-dark: #06161b;
  --color-primary: #a13323;
  --color-secondary: #fcbf7d;

  /*   LAYOUT */
  --navbar-height: 100px;
  --card-border-radius: 5px;
}

body {
  background-color: var(--color-grey-dark);
  font-family: "Roboto", sans-serif;
}

section {
  min-height: 100vh;
}

#intro-section {
  background-color: var(--color-navy-dark);
  color: var(--color-white);
}

#about-section {
  background-color: var(--color-white);
  color: var(--color-navy-dark);
}

#projects-section {
  background-color: var(--color-grey-medium);
  color: var(--color-navy-dark);
}

#timeline-section {
  background-color: var(--color-white);
  color: var(--color-navy-dark);
}

#contact-section {
  background-color: var(--color-grey-medium);
  color: var(--color-navy-dark);
}

/* PROJECT CARDS */
.project-card {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 400px;
  margin: 20px;

  background-color: var(--color-navy-dark);
  border-radius: var(--card-border-radius);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s;
}
.project-card:hover {
  transform: scale(105%);
}
.project-image {
  height: 100%;

  background-color: var(--main-light-grey);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);

  object-fit: cover;
  object-position: 50% 0;
}
.project-title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;

  background-color: var(--main-navy);
  border-radius: 30px;
}

/* TIMELINE */
.timeline h2 {
    color: var(--color-primary)
}

.timeline-entry-right {
  text-align: left;
}

.timeline-entry-left {
  text-align: right;
}