* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /*   COLORS */
  --color-grey-light: #cce8e6;
  --color-grey-medium: #a8bdc5;
  --color-grey-dark: #535353;
  --color-white: azure;
  --color-navy: #0e3744;
  --color-navy-dark: #06161b;
  --color-primary: #a13323;
  --color-primary-rgb: 161, 51, 35;
  --color-secondary: #fcbf7d;

  /*   LAYOUT */
  --navbar-height: 100px;
  --card-border-radius: 8px;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-grey-dark);
  font-family: "Roboto", sans-serif;
}

section {
  min-height: 100vh;
  max-height: 100%;
}

#intro-section {
  background-color: var(--color-navy-dark);
  color: var(--color-white);
}

#about-section {
  background-color: var(--color-white);
  color: var(--color-navy-dark);
}

#projects-section {
  background-color: var(--color-grey-medium);
  color: var(--color-navy-dark);
}

#contact-section {
  background-color: var(--color-grey-medium);
  color: var(--color-navy-dark);
}

/* PROJECT CARDS */
.project-card {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 400px;
  margin: 20px;

  background-color: var(--color-navy-dark);
  border-radius: var(--card-border-radius);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s;
}
.project-card:hover {
  transform: scale(105%);
}
.project-image {
  height: 100%;

  background-color: var(--main-light-grey);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);

  object-fit: cover;
  object-position: 50% 0;
}
.project-title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;

  background-color: var(--main-navy);
  border-radius: var(--card-border-radius);
}

/* TIMELINE */
#timeline-section {
  background-color: var(--color-white);
  color: var(--color-navy-dark);
}
.timeline {
  margin: 0 auto;
  padding: 2em;
  max-width: 900px;
}
.timeline .center-line {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}
.timeline .center-line.left {
  grid-column: 2 / 3;
  background-color: red;
}
.timeline .center-line.mid {
  grid-column: 4 / 5;
  background-color: green;
}
.timeline .center-line.right {
  grid-column: 6 / 7;
  background-color: blue;
}
/* .timeline .center-line::after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translatex(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid green;
  background-color: blue;
} */
.timeline .timeline-entry {
  display: grid;
  grid-template-columns: 1fr 4px 6px 4px 6px 4px 1fr;
}
.timeline .timeline-entry .body {
  margin: 0 1.5em 1.5em 1.5em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: green;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.timeline .timeline-entry.left .body {
  grid-column: 1 / 2;
  grid-row: 1;
  text-align: right;
}
.timeline .timeline-entry.right .body {
  grid-column: 7 / 8;
  grid-row: 1;
  text-align: left;
}
.timeline .timeline-entry .date {
  margin: 0;
  padding: 1.5em;
}
.timeline .timeline-entry.left .date {
  grid-column: 7 / 8;
  grid-row: 1;
  text-align: left;
}
.timeline .timeline-entry.right .date {
  grid-column: 1 / 2;
  text-align: right;
}

.timeline .title {
  font-size: 1.25em;
  font-weight: bold;
}
.timeline .location {
  margin: 0;
  font-size: 1em;
}
.timeline .city {
  font-size: 1em;
}
.timeline .date {
  /* position: absolute;
  background-color: var(--color-primary);
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 2em;
  box-shadow: 0 0 0 4px rgba(var(--color-primary-rgb), 0.5); */
  font-size: 1em;
}
.timeline .description {
  font-size: 1em;
}