* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /*   COLORS */
  --color-bg: white;
  --color-font: white;
  --color-card: white;
}

html {
  font-size: x-large;
}

a:link {
  text-decoration: none;
}

@keyframes fade-bg-in {
  from {
    background-color: white;
  }
  to {
    background-color: var(--color-bg);
  }
}

@keyframes fade-text-in {
  from {
    color: white;
  }
  to {
    color: var(--color-font);
  }
}

.fade-in-bg {
  /* This handles initial background fade-in */
  animation: fade-bg-in 3s;
}

.fade-in-text {
  /* This handles initial text fade-in */
  animation: fade-text-in 3s;
}

.fade-color {
  /* This handles color fade on 'new lyric' button click. */
  transition: color 1.5s, background-color 1.5s;
}

#background-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: var(--color-bg);
}

#quote-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: auto;
  margin: auto;
  padding: 2rem;
  border-radius: 4px;

  background-color: var(--color-card);
  color: var(--color-font);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#text {
  text-align: center;
}

#author {
  padding: 1rem 0rem 1rem;
  text-align: right;
  font-size: large;
  font-style: italic;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.button {
  height: 40px;
  min-width: 40px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background-color: var(--color-bg);
  color: var(--color-card);
  font-size: large;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
}

.button:hover {
  filter: brightness(110%);
}

.button i {
  font-size: x-large;
}

#new-quote {
  margin-left: auto;
  padding: 0rem 1rem 0rem;
  border: none;
}

.fa-quote-left,
.fa-music {
  padding-right: 0.5rem;
}
.fa-quote-right {
  padding-left: 0.5rem;
}
